/* colors */

* {
    bg:      #0f0f0f;
    fg:      #828282;
    lac:     #828282;
    ac:      #262626;

    red:     #ac8a8c;
    green:   #8aac8b;
    yellow:  #aca98b;
    blue:    #8f8aac;
    purple:  #ac9aac;
    cyan:    #8aabac;
}
