/* colors */

* {
  bg:      #0e0f10;
  fg:      #ceccc8;
  lac:     #ceccc8;
  ac:      #ceccc8;

  red:     #ed7f76;
  green:   #9cb28b;
  yellow:  #edaf76;
  blue:    #8b9cb2;
  purple:  #a68bb3;
  cyan:    #8bbcb0;
}
