/* colors */

* {
  bg:      #151515;
  fg:      #e8e8d3;
  lac:     #404040;
  ac:      #404040;

  red:     #ed7f76;
  green:   #9cb28b;
  yellow:  #edaf76;
  blue:    #8b9cb2;
  purple:  #a68bb3;
  cyan:    #8bbcb0;
}
