@use '../colors';

combobox {
  button {
    &.combo {
      cellview {
        margin: -2px;
        padding: 2px;
      }
      arrow {
        margin: 3px 1px;
        padding: 8px;
        min-width: 16px;
        -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
      }
    }
  }
}
