@use "../colors.scss";

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 10px; /* same as headerbar side padding for nicer proportions */
    margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 5px;
}

headerbar {
	background: colors.$surface-3;
    min-height: 10px;
    margin: 0px; /* same as headerbar side padding for nicer proportions */
    padding: 0px;
}
