@use '../colors';

headerbar {
  background: colors.$surface-3;
  padding: 5px;

  box.horizontal {
    // &.right > button.titlebutton:last-child {
    //   margin: 2px;
    // }

    &.left > button.titlebutton:first-child {
      margin-left: 2px;
    }
  }

  button.titlebutton:not(.appmenu) {
    background: transparent;
    margin: -2px -2px;
    padding: 0px;
    border-radius: 2;

    &:nth-last-child(-n+2) {
      margin-left: -6px;
    }

    $titlebutton_to_color: (
      minimize: colors.$accent-3,
      maximize: colors.$accent-4,
      close: colors.$accent-1
    );

    @each $type, $color in $titlebutton_to_color {
      &.#{$type} {
        color: $color;
        &:hover {
          background-color: $color;
        }
        margin: 1px;
      }
    }

    &:hover {
      color: rgba(0,0,0,0.5);
    }
  }

  button.titlebutton.appmenu {
    &:not(:active):not(:checked) {
      background: transparent;
    }
  }
}
