@import url("resource:///org/numixproject/gtk/dist/gtk.css");

/* remove window title from Client-Side Decorations */
.solid-csd headerbar .title {
    font-size: 0;
    height: 0;
}

/* hide extra window decorations/double border */
window decoration {
    margin: 0;
    border: none;
    padding: 10;
}

* {
    text-shadow: none;
    outline-width: 0px;
}
