@define-color borders #212121;
window.background.chromium {
  background: #3b3b3b;
  color: #e8e8d3;
}
window.background.chromium menu {
  background: #3b3b3b;
}
window.background.chromium menu menuitem {
  color: #e8e8d3;
}
window.background.chromium menu menuitem:hover {
  background: rgba(255, 255, 255, 0.15);
}
window.background.chromium menu menuitem:disabled label {
  color: rgba(255, 255, 255, 0.15);
}
window.background.chromium headerbar, window.background.chromium menubar {
  background: #141414;
}
window.background.chromium headerbar label, window.background.chromium menubar label {
  color: #b3b36f;
}
window.background.chromium headerbar .titlebutton, window.background.chromium menubar .titlebutton {
  padding: 100px 80px;
}
window.background.chromium scrollbar button {
  background: rgba(255, 255, 255, 0.15);
  color: #e8e8d3;
}
window.background.chromium scrollbar trough {
  background: transparent;
}
window.background.chromium scrollbar slider {
  background: rgba(255, 255, 255, 0.15);
}
window.background.chromium scrollbar junction {
  background: rgba(255, 255, 255, 0.15);
}
window.background.chromium textview {
  background-color: #2e2e2e;
  color: #e8e8d3;
}

#MozillaGtkWidget {
  background: #141414;
}
#MozillaGtkWidget menubar {
  color: rgba(255, 255, 255, 0.15);
  background: #141414;
}
#MozillaGtkWidget text {
  background: #2e2e2e;
}
#MozillaGtkWidget menu {
  background: #3b3b3b;
}
#MozillaGtkWidget menu :disabled {
  color: rgba(255, 255, 255, 0.15);
}
#MozillaGtkWidget menu separator {
  padding: 8px;
}
#MozillaGtkWidget border {
  border: 1px solid #3b3b3b;
}

window.nautilus-window .nautilus-menu-sort-heading {
  margin: 0 -5px;
}
window.nautilus-window .nautilus-canvas-item:selected, window.nautilus-window .nautilus-canvas-item:active {
  background: #2d2d2d;
  border-radius: 3px;
}
window.nautilus-window .floating-bar {
  background: #212121;
  color: #e8e8d3;
  padding: 4px;
}
window.nautilus-window .floating-bar.bottom.left {
  border-top-right-radius: 3px;
}
window.nautilus-window .floating-bar.bottom.right {
  border-top-left-radius: 3px;
}

window, dialog, assistant {
  background: #141414;
  color: #e8e8d3;
}

window.csd decoration {
  margin: 8px;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
  margin-top: 10px;
  /* same as headerbar side padding for nicer proportions */
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
}

headerbar {
  background: #2e2e2e;
  min-height: 10px;
  margin: 0px;
  /* same as headerbar side padding for nicer proportions */
  padding: 0px;
}

entry {
  transition: all 100ms ease-in-out;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid transparent;
  padding: 6px;
  border-radius: 10px;
}
entry:focus {
  border-color: #c6b6ee;
  background: rgba(255, 255, 255, 0.1);
}
entry:disabled {
  opacity: 0.3;
}
entry image.left {
  margin-right: 8px;
}
entry image.right {
  margin-left: 8px;
}
entry selection {
  background: #597bc5;
  color: white;
}

button {
  transition: background-color 100ms ease-in;
  background: rgba(255, 255, 255, 0.05);
  padding: 8px;
  border-radius: 5px;
}
button:hover:not(:active) {
  background: rgba(255, 255, 255, 0.1);
}
button:disabled {
  opacity: 0.3;
}
button:checked, button.suggested-action {
  background: #3b3b3b;
  color: #a1a1a1;
}
button:checked:hover:not(:active), button.suggested-action:hover:not(:active) {
  background: #2e2e2e;
}
button.destructive-action {
  background: #cf6a4c;
  color: #faf0ed;
}
button.destructive-action:hover:not(:active) {
  background: #ca5938;
}
button.circular {
  border-radius: 100%;
  padding: 8px;
}
button.flat {
  background: transparent;
}
button.flat:hover {
  color: rgba(255, 255, 255, 0.7);
}
button.flat:checked {
  color: rgba(255, 255, 255, 0.8);
}

combobox {
  border-radius: 10px;
}
combobox button.combo cellview {
  margin: -2px;
}
combobox button.combo arrow {
  margin: -6px -8px;
  padding: 8px;
  min-width: 16px;
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

placessidebar {
  background: #212121;
}
placessidebar list {
  background: transparent;
}
placessidebar list row:hover {
  background: rgba(0, 0, 0, 0.2);
}
placessidebar list row .sidebar-icon {
  margin: 0 10px;
}
placessidebar.frame, placessidebar .frame {
  border: 0;
}

popover {
  background: #2e2e2e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
popover box modelbutton {
  padding: 5px 10px;
  margin: 0 -10px;
}
popover box modelbutton:hover {
  background: #474747;
}
popover.menu:first-child {
  border-top-left-radius: 0;
}

notebook stack:only-child {
  background: #141414;
}

tabs {
  background: #141414;
}
.top > tabs {
  border-bottom: 2px solid #2e2e2e;
}
.top > tabs tab {
  border-bottom: 2px solid transparent;
  margin-bottom: -2px;
}
.right > tabs {
  border-left: 2px solid #2e2e2e;
}
.right > tabs tab {
  border-left: 2px solid transparent;
  margin-left: -2px;
}
.bottom > tabs {
  border-top: 2px solid #2e2e2e;
}
.bottom > tabs tab {
  border-top: 2px solid transparent;
  margin-top: -2px;
}
.left > tabs {
  border-right: 2px solid #2e2e2e;
}
.left > tabs tab {
  border-right: 2px solid transparent;
  margin-right: -2px;
}
tabs tab {
  padding: 8px;
  color: rgba(232, 232, 211, 0.2);
  transition: border-color 100ms ease-in-out;
}
header tabs tab:checked {
  border-color: #597bc5;
  color: #e8e8d3;
}
header tabs tab:hover:not(:checked) {
  border-color: rgba(232, 232, 211, 0.2);
}

treeview {
  -GtkTreeView-expander-size: 13;
  -GtkTreeView-grid-line-pattern: "";
  -GtkTreeView-tree-line-pattern: "";
  -GtkTreeView-horizontal-separator: 8;
  -GtkTreeView-vertical-separator: 8;
  background: #212121;
  border-left-color: rgba(255, 255, 255, 0.15);
  border-top-color: rgba(255, 255, 255, 0.15);
}
treeview:hover {
  background: rgba(255, 255, 255, 0.15);
}
treeview:selected {
  background: #c6b6ee;
  color: white;
}
treeview.separator {
  color: rgba(255, 255, 255, 0.15);
  min-height: 2px;
}
treeview header button {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background: #2e2e2e;
}
treeview header button:hover {
  background: rgba(255, 255, 255, 0.15);
}
treeview header button:not(:last-child) {
  border-right: 1px solid #2e2e2e;
}

overshoot.top {
  background-image: -gtk-gradient(radial, center top, 0, center top, 0.6, from(rgba(46, 46, 46, 0.2)), to(rgba(46, 46, 46, 0)));
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: center top;
}
overshoot.bottom {
  background-image: -gtk-gradient(radial, center bottom, 0, center bottom, 0.6, from(rgba(46, 46, 46, 0.2)), to(rgba(46, 46, 46, 0)));
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
overshoot.left {
  background-image: -gtk-gradient(radial, left center, 0, left center, 0.6, from(rgba(46, 46, 46, 0.2)), to(rgba(46, 46, 46, 0)));
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: left center;
}
overshoot.right {
  background-image: -gtk-gradient(radial, right center, 0, right center, 0.6, from(rgba(46, 46, 46, 0.2)), to(rgba(46, 46, 46, 0)));
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: right center;
}

rubberband, .rubberband {
  background-color: rgba(153, 173, 106, 0.1);
  border: 1px solid rgba(153, 173, 106, 0.6);
}

progressbar trough {
  background: rgba(255, 255, 255, 0.15);
}
progressbar trough progress {
  background: #597bc5;
}

levelbar trough block {
  padding: 3px;
  border-radius: 3px;
}
levelbar trough block.filled {
  background: #597bc5;
}
levelbar trough block.empty {
  background: #2e2e2e;
}
levelbar.discrete block:not(:first-child) {
  margin-left: 5px;
}

scale {
  padding: 8px 0;
}
scale contents trough {
  background: #2e2e2e;
}
scale contents trough slider {
  background: #6e6e6e;
  padding: 8px;
  margin: -5px;
  border-radius: 100%;
}
scale contents trough highlight {
  background: #597bc5;
}
scale marks mark {
  padding-top: 5px;
}
scale marks mark indicator {
  color: #2e2e2e;
  min-height: 8px;
  min-width: 1px;
}
scale:disabled {
  opacity: 0.3;
}

spinbutton.horizontal entry {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
spinbutton.horizontal button.down {
  border-radius: 0;
}
spinbutton.horizontal button.up {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
spinbutton.vertical button.up {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
spinbutton.vertical entry {
  border-radius: 0;
}
spinbutton.vertical button.down {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

textview {
  transition: background 100ms ease-in-out;
  background: rgba(255, 255, 255, 0.05);
  padding: 8px;
}
textview:focus {
  background: rgba(255, 255, 255, 0.1);
}
textview:disabled {
  opacity: 0.3;
}
textview selection {
  background: #597bc5;
  color: white;
}

toolbar {
  background: #212121;
}
toolbar.osd {
  background: rgba(46, 46, 46, 0.5);
  padding: 10px;
}

frame.app-notification border {
  background: #2e2e2e;
  border: 0;
}

frame > border, .frame {
  border: 0px solid #2e2e2e;
}

scrolledwindow viewport.frame {
  border-style: none;
}

list {
  background: #212121;
}
list row {
  padding: 6px;
}
list row:hover {
  background: #2e2e2e;
}

checkbutton check {
  -gtk-icon-source: -gtk-recolor(url("../assets/symbolic/check.symbolic.png"));
  -gtk-icon-transform: scale(0);
  color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.05);
  border-radius: 3px;
  padding: 1px;
  min-width: 12px;
  min-height: 12px;
  transition: -gtk-icon-transform 200ms;
}
checkbutton check:hover, checkbutton check:checked {
  border-color: #597bc5;
}
checkbutton check:active, checkbutton check:checked {
  background: #597bc5;
}
checkbutton check:checked {
  -gtk-icon-transform: scale(1);
  border-color: #597bc5;
}
checkbutton check:checked:active {
  background: transparent;
}
checkbutton label {
  padding-left: 5px;
}
checkbutton:disabled {
  opacity: 0.3;
}

radiobutton radio {
  -gtk-icon-source: -gtk-recolor(url("../assets/symbolic/radio.symbolic.png"));
  -gtk-icon-transform: scale(0);
  color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.05);
  border-radius: 100%;
  padding: 3px;
  min-width: 8px;
  min-height: 8px;
  transition: -gtk-icon-transform 200ms;
}
radiobutton radio:hover {
  border-color: rgba(255, 255, 255, 0.1);
}
radiobutton radio:active, radiobutton radio:checked {
  background: rgba(255, 255, 255, 0.02);
}
radiobutton radio:checked {
  -gtk-icon-transform: scale(1);
  border-color: #597bc5;
}
radiobutton label {
  padding-left: 5px;
}
radiobutton:disabled {
  opacity: 0.38;
}

switch {
  background: rgba(232, 232, 211, 0.2);
  border-radius: 20px;
  color: transparent;
  min-width: 40px;
  border: 5px solid transparent;
  background-clip: padding-box;
}
switch slider {
  background: #e8e8d3;
  border-radius: 100%;
  min-width: 5px;
  min-height: 5px;
  background-clip: padding-box;
  margin: -4px -2px;
}
switch:checked {
  background: rgba(89, 123, 197, 0.3);
  background-clip: content-box;
}
switch:checked slider {
  background: #597bc5;
}
switch:disabled {
  opacity: 0.3;
}
switch:hover slider {
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.05);
}
switch:hover:checked slider {
  box-shadow: 0 0 0 8px rgba(198, 182, 238, 0.1);
}

separator {
  background-image: image(rgba(255, 255, 255, 0.05));
  background-size: 1px 1px;
  background-position: center center;
  min-width: 7px;
  min-height: 7px;
  background-repeat: repeat-x;
  margin: -3px 0;
}
separator.vertical, .horizontal > separator {
  background-repeat: repeat-y;
  margin: 0 -3px;
}

menubar {
  background: #141414;
}
menubar menuitem {
  padding: 5px;
}
menubar menuitem:hover {
  background: #212121;
}

menu {
  background: #212121;
}
menu menuitem {
  padding: 5px;
}
menu menuitem:hover {
  background: #2e2e2e;
}

scrollbar {
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
  background: transparent;
}
scrollbar slider {
  padding: 3px;
  background: rgba(255, 255, 255, 0.05);
}
scrollbar slider:hover {
  background: rgba(255, 255, 255, 0.1);
}
scrollbar slider:active {
  background: rgba(89, 123, 197, 0.75);
}
scrollbar:hover {
  background: rgba(255, 255, 255, 0.05);
}
scrollbar:hover.horizontal slider {
  padding: 5px 3px;
}
scrollbar:hover.vertical slider {
  padding: 3px 5px;
}

label {
  padding: 4px;
}
label.dim-label, label:disabled {
  opacity: 0.3;
}
label selection {
  background: #597bc5;
  color: white;
}

calendar {
  background: #212121;
}
calendar.button {
  background: #2e2e2e;
  color: rgba(255, 255, 255, 0.5);
}
calendar.button:hover {
  color: rgba(255, 255, 255, 0.8);
}
calendar.button:disabled {
  color: rgba(255, 255, 255, 0.1);
}
calendar.header {
  background: #2e2e2e;
}
calendar.highlight {
  color: rgba(255, 255, 255, 0.2);
}
calendar:selected {
  color: white;
  border-radius: 0.3em;
  background: #597bc5;
}
calendar:indeterminate {
  color: rgba(255, 255, 255, 0.1);
}

actionbar {
  background: #212121;
  border-top: 1px solid #2e2e2e;
}

iconview {
  background: #2e2e2e;
}
iconview:selected {
  color: rgba(255, 255, 255, 0.8);
  background: #597bc5;
}

@keyframes rotate {
  to {
    -gtk-icon-transform: rotate(1turn);
  }
}
spinner {
  -gtk-icon-source: none;
}
spinner:checked {
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
  animation: rotate 1s linear infinite;
}
spinner:disabled {
  opacity: 0.3;
}

infobar {
  color: rgba(255, 255, 255, 0.8);
}
infobar.info {
  background: #99ad6a;
}
infobar.warning {
  background: #d8ad4c;
}
infobar.error {
  background: #cf6a4c;
}
infobar.question {
  background: #597bc5;
}

tooltip {
  background: #597bc5;
}
tooltip label {
  padding: 2px;
}
