$surface-1: #151515;
$surface-2: #3b3b3b; 
$surface-3: #3b3b3b;
$surface-4: #3b3b3b;
$surface-5: #3b3b3b;

$accent-1: #cf6a4c;
$accent-2: #d8ad4c;
$accent-3: #d8ad4c;
$accent-4: #99ad6a;
$accent-5: #71b9f8;
$accent-6: #99ad6a;
$accent-7: #99ad6a;
$accent-8: hsl(300,60%,60%);

$primary-accent: $accent-4;
$secondary-accent: $accent-4;

$foreground-color: #e8e8d3;

$highlight: $accent-4;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-2};
